@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h1 class="display-4">Zadania Rekrutacyjne ANTHEAP sp. z o.o.</h1>
    <p>Wszystkie zadania (również te, co do których nie było wymagania) zapisują swoje wyniki do bazy danych.<br />
        Zapisywanie każdej operacji do bazy danych jest pewnym standardem, który zawsze stosuję<br /> 
        Baza to SQLite i mieści się w katalogu głównym witryny app.db</p>
    <p>
        Wyjaśnienie dlaczego zadanie nr.1 jest w dwóch wersjach:<br />

        Zadanie 1 zostało pierwotnie wykonane używając ajax(a), ponieważ nigdy nie pracowałem z ReactJs, ale w związku z tym, iż zwracacie Państwo szczególną uwagę na ten Framework (dwa zadania) postanowiłem się go nauczyć.
        Niestety nie miałem na to zbyt wiele czasu więc mój kod React nie jest idealny niemniej spełnia wymogi zadania. 
        
        pozdrawiam
        
        Artur Pogorzelski
       (48) 666 108 805
    </p>
</div>
